{
    "presets": [
        [
            "@babel/preset-env",
            {
                "modules": false,
                "targets": {
                    "edge": "18",
                    "firefox": "71",
                    "chrome": "77",
                    "safari": "12",
                    "node": true
                },
                "useBuiltIns": "usage",
                "corejs": "3.6",
                "debug": true
            }
        ],
        "@babel/preset-react",
        "@babel/typescript"
    ],
    "plugins": [
        [
            "@babel/plugin-proposal-decorators",
            {
                "legacy": true
            }
        ],
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "@babel/plugin-transform-async-to-generator",
        "@babel/plugin-proposal-object-rest-spread"
    ]
}
